.hoverCard {
  will-change: auto;
  padding: var(--space-1) var(--space-2);
  font-size: var(--font-size-xs);
  border-radius: var(--radii-sm);
  background: var(--colors-gray-transparent-200);
  backdrop-filter: blur(0.4rem);

  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

  &[data-state="open"] {
    animation: fadeIn 0.15s ease-out;
  }

  &[data-state="closed"] {
    animation: fadeOut 0.15s ease-in;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(var(--space-1));
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(var(--space-1));
  }
}
