.section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  line-height: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  position: absolute;
  z-index: var(--z-index-up);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.githubLink {
  position: fixed;
  inset: auto;
  width: var(--space-10);
  height: auto;
  aspect-ratio: 1 / 1;
  bottom: calc(var(--space-12));

  right: var(--space-10);
  z-index: var(--z-index-overlay);
  background: var(--colors-gray-transparent-200);
  backdrop-filter: blur(0.6rem);
  border-radius: var(--radii-full);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.3s transform;

  &:hover {
    transform: translateY(calc(-1 * var(--space-1)));
  }
}
