.menu {
  position: fixed;
  inset: auto;
  left: 50%;
  bottom: var(--space-10);
  width: min-content;
  padding: var(--space-1);
  transform: translateX(-50%);
  border-radius: var(--radii-full);
  background: var(--colors-gray-transparent-100);
  backdrop-filter: blur(0.4rem);
  z-index: var(--z-index-overlay);

  animation: enter 0.6s ease-in-out;

  display: flex;
  gap: var(--space-3);
  align-items: center;
  justify-content: center;
}

.button {
  width: var(--space-12);
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: var(--radii-full);

  transition: 0.3s background;

  &:hover,
  &[data-state="open"] {
    background: var(--colors-gray-transparent-100);
  }

  svg {
    color: var(--colors-white);
  }
}

.animatedIcon {
  animation: fadeIn 0.4s ease;
}

.volumeController {
  display: flex;
  gap: var(--space-2);
  align-items: center;

  &:not(:last-child) {
    margin-bottom: var(--space-5);
  }

  p {
    width: var(--space-5);
    font-size: var(--font-size-xs);
    text-align: center;
  }

  input {
    width: var(--space-5);
    font-size: var(--font-size-xs);
    text-align: center;
    background: none;
    border: none;
    outline: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type="number"] {
      -moz-appearance: textfield;
    }
  }
}

.slider {
  width: var(--space-24);
}

.inputWrapper {
  display: flex;
  gap: var(--space-2);
  align-items: center;

  input,
  button {
    height: var(--space-9);
    border-radius: var(--radii-sm);
    background: var(--colors-gray-transparent-200);
  }

  input {
    flex: 1;
    font-size: var(--font-size-xs);
    padding: var(--space-1) var(--space-3);
    border: none;
    outline: none;

    &::placeholder {
      color: var(--colors-white);
    }
  }

  button {
    aspect-ratio: 1 / 1;
  }
}

.ambientSounds {
  display: grid;
  gap: var(--space-1);
  grid-template-columns: repeat(5, 1fr);
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes enter {
  0% {
    bottom: -100%;
  }

  100% {
    bottom: var(--space-10);
  }
}
